openapi: 3.0.1
info:
  title: ControlUp DEX Agent Security API
  description: >
    Security-relevant endpoints exposed by ControlUp DEX Agent for use with
    Microsoft Security Copilot. Covers managed device inventory, security
    alert rules, and security events.
  version: "1.0.0"

servers:
  - url: https://api.controlup.com/edge
    description: ControlUp DEX Agent public API.

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

  schemas:
    Device:
      type: object
      properties:
        _id:
          type: string
          description: Unique device identifier.
        name:
          type: string
          description: Device hostname.
        platform:
          type: string
          description: "Operating system platform (e.g. Windows, macOS, Linux, ChromeOS)."
        online:
          type: boolean
          description: Whether the device is currently online.
        group:
          type: string
          description: Device group name.
        tags:
          type: array
          items:
            type: string
          description: Tags assigned to the device.
        agent_version:
          type: string
          description: Installed ControlUp DEX Agent version.
        ip_address:
          type: string
          description: Last known IP address.
        _updated:
          type: string
          format: date-time
          description: Timestamp of the last agent check-in.
        dex_score:
          type: number
          description: Digital Employee Experience score (0–100).
        top_metric_name:
          type: string
          description: Metric contributing most to a poor DEX score.
        cpu_total_percentage:
          type: number
          description: Current CPU utilization percentage.
        memory_total_bytes_used:
          type: integer
          description: Bytes of RAM currently in use.
        console_user_upn:
          type: string
          description: UPN of the currently logged-on user.

    DeviceListResult:
      type: object
      description: Flattened list of devices.
      properties:
        rows_available:
          type: integer
          description: Total number of matching documents.
        rows:
          type: array
          items:
            $ref: "#/components/schemas/Device"

    Alert:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        description:
          type: string
        severity:
          type: integer
          enum: [1, 2, 3, 4]
        enabled:
          type: boolean
        _created:
          type: string
          format: date-time

    AlertListResult:
      type: object
      properties:
        rows_available:
          type: integer
        rows:
          type: array
          items:
            $ref: "#/components/schemas/Alert"

    Event:
      type: object
      properties:
        _id:
          type: string
        title:
          type: string
        type:
          type: string
        severity:
          type: string
        device_id:
          type: string
        device_name:
          type: string
        _created:
          type: string
          format: date-time

    EventListResult:
      type: object
      properties:
        rows_available:
          type: integer
        rows:
          type: array
          items:
            $ref: "#/components/schemas/Event"

    ExperienceRecord:
      type: object
      description: A single telemetry record. Flattened for Copilot compatibility.
      properties:
        _id:
          type: string
        _device_id:
          type: string
        _created:
          type: string
          format: date-time

    ExperienceDataResult:
      type: object
      properties:
        rows_available:
          type: integer
        rows:
          type: array
          items:
            $ref: "#/components/schemas/ExperienceRecord"

paths:
  /api/devices:
    get:
      operationId: GetDevices
      summary: List managed devices
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            type: integer
            default: 25
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceListResult"

  /api/alerts:
    get:
      operationId: GetAlerts
      summary: List security alert rules
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertListResult"

  /api/events:
    get:
      operationId: GetSecurityEvents
      summary: List security events
      parameters:
        - name: from_date
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResult"

  /api/devices/poor-experience:
    get:
      operationId: GetDevicesWithPoorExperience
      summary: List devices with poor digital experience
      parameters:
        - name: max_dex_score
          in: query
          schema:
            type: integer
            default: 60
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceListResult"

  /api/dal/{index}:
    post:
      operationId: QueryExperienceData
      summary: Query an experience data index
      parameters:
        - name: index
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_query_json:
                  type: string
                  description: "Stringified JSON OpenSearch query. Example: '{\"query\":{\"match_all\":{}}}'"
                device_query_json:
                  type: string
                  description: "Stringified JSON device filter."
                export:
                  type: boolean
                  default: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExperienceDataResult"